button {
    width: auto;
    margin: 5px;
}

td {
    vertical-align: unset;
    color: white;
}

th {
    padding-right: 4em;
    color: white;
}

.buttons{
    margin-top: -20px;
}

/* 
input {
    width: auto;
    height: 20%;
    vertical-align: bottom;
    text-align: left;
}

::-webkit-input-placeholder {
    text-align: left;
}

:-moz-placeholder {
    text-align: top; 
} */